//Fonts

$font-families: Arial;

//Colours

$primary-colour: #03AEEF;

$contrast-colour: #F9DC5C;

$light-colour: #FBFBFB;

$link-colour: darken($primary-colour, 20%);

$darkText: #848484;

$lightText: #8f8f8f;

$contrast-darkText: grey;

$contrast-lightText: white;
